.headline{
  text-align: center;
  font-size: 28px;
  margin-top: 6%;
}

.actions {
  // text-align: center;
}

.actionsWrapper {
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20px;
  width: 480px;
  max-width: 100%;
}
